// theming colors

$primary:#2880FC;
$white:#FFFFFF;
$dark-yellow:#FB9F3C;
$body-bg:#F3F3F5;
$text-muted:#8694AA;


// text-colors
$text-primary: #031837;
$text-gray-400: #8694AA;
$text-gray-500: #95A1B5;
$nav-link-color: #031837;

// bg-colors:
$bg-grey: #F3F3F5;

// border colors
$nav-border: #E5E7EA ;
