// font family
$font-family-base:'Inter', sans-serif;
$font-family-baloo:'Baloo Bhaina 2', cursive;

// forgot-password variables
$btn-color:$white;
$input-font-family:$font-family-base;
$font-weight-bold:700;
$title-font-size:28px;
$font-size-lg:1.1rem;
$bs-btn-hover-color:$white;



$font-weight-bold:800;
$font-size-sm:0.9rem;
$font-size-lg:1.1rem;
$margin-bottom-base:20px;
$headings-font-weight:700;
$h3-font-size:28px;
$offcanvas-horizontal-width:500px;
$offcanvas-transition-duration:1s;
$offcanvas-padding-y:0;
$offcanvas-padding-x:0;

// Sign-In
 $sign-in-h3-font-weight: $headings-font-weight;
 $sign-in-h3-font-size: $h3-font-size;


