.form-title{
    font-weight: $font-weight-bold;
    font-size:$title-font-size ;
    color: $text-primary;
}
.input-outline{
    outline: 0;
    color:$text-muted;
    .placeholder-font{
        font-family: $input-font-family;
        font-weight:$font-weight-normal;
        font-size:$font-size-lg;
    }
   }
.btn-color{
    color: $white;
    background: $primary;
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    &.btn-hover:hover{
        background: $primary;
        color: $white;
     }
}
.form-subtext-size{
    font-size:$font-size-base;
 }